proxy:
  secretToken: "REPLACE_ME_WITH_RANDOM"  # we set this in secrets.yaml instead

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - notebooks.nstsdc.org

hub:
  config:
    JupyterHub:
      admin_access: true
      authenticator_class: github

    # GitHub OAuth login
    GitHubOAuthenticator:
      oauth_callback_url: "https://notebooks.nstsdc.org/hub/oauth_callback"
      scope:
        - "read:user"
      # Optional: restrict logins later
      # allowed_organizations:
      #   - "nst-sdc"

    Authenticator:
	    auto_login: true
      admin_users:
        - krushndayshmookh

  # Keep Hub state safe (small PVC).
  db:
    type: sqlite-pvc
  # Optional: reduce PVC size
  db:
    pvc:
      storage: 2Gi

singleuser:
  # Use JupyterLab
  defaultUrl: "/lab"

  # Use a good base image (docker-stacks)
  # Note: docker-stacks recommend quay.io over Docker Hub for updates.
  image:
    name: ghcr.io/krushndayshmookh/nst-jupyter
    tag: "2026-01-14"

  defaultUrl: "/lab/tree/jupyter-starter/00-welcome.ipynb"

  # Resource limits (tune for your hardware)
  cpu:
    guarantee: 1
    limit: 2
  memory:
    guarantee: 1G
    limit: 4G

  # IMPORTANT: no persistent user storage (ephemeral home)
  storage:
    type: none

  # Optional: put user pods only on worker nodes (recommended)
  nodeSelector:
    role: compute

  # auto-clone a repo on start 
  lifecycleHooks:
    postStart:
      exec:
        command:
          - sh
          - -c
          - |
            if [ ! -d "/home/jovyan/jupyter-starter" ]; then
              git clone https://github.com/nst-sdc/jupyter-starter.git /home/jovyan/jupyter-starter
            fi
	extraEnv:
    JUPYTER_ENABLE_LAB: "yes"
